:root {
  --main-bg-color: #ede4db;
  --main-text-color: #8b7e75;
  --main-body-color: #e3d0c2;
  --main-footer-bg-color: #e5ebe7;
  --main-link-color: #234e59;
  scroll-behavior: smooth;
}
* {
  /* background-color: rgba(255, 0, 0, 0.103); */
}
.popup-canva-none{
  display:none;
}
.popup-canva{
  position: fixed;
height:100vh;
width: 100vw;
backdrop-filter: blur(5px);
background-color: rgba(255, 255, 255, 0.226);
z-index: 1000;

}
.popup{
  position: fixed;

padding:2rem;
  background-color: white;
  border:solid 2px var(--main-body-color);
  border-radius: 10px;
  top:50vh;
  left:50vw;
  transform: translate(-50%, -50%);
text-align: center;
filter: drop-shadow(3px 5px 5px rgb(0 0 0 / 0.2));

}
.close-popup{
  position: absolute;
  right:2rem;
  top:1rem;
  color: var(--main-link-color);
}
.close-popup:hover{
  cursor: pointer;
}
.popup h2{
  font-family: "Cormorant", serif;
  font-size: 2rem;

  color: var(--main-text-color);


  margin: 0;  
}

.popup p{
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;

}
.popup a{
  text-decoration: none;
  color: var(--main-link-color);
  font-weight: bold;
}
hr{
  position: relative;
  z-index: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--main-body-color);
}
main {
  background-color: #fff;
}
.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto 0 auto;
}
.home-nav {
  text-align: right;
  padding: 1rem 5rem 1rem 0;
  background-color: var(--main-bg-color);
}
.page-nav {
  display: flex;
  justify-content: end;
  position: sticky;
  top: 0;
  text-align: right;
  padding: 0 0;
  background-color: var(--main-bg-color);
  margin: 0;
  z-index: 190;
  height: 60px;
}
.home-nav a,
footer a,
footer p,
.page-nav p,
.menu-page-nav a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem;
  font-family: "Montserrat", sans-serif;
  color: var(--main-text-color);
  transition: color 300ms;
}
footer a:hover {
  color: var(--main-body-color);
  transition: color 300ms;
}
footer p {
  text-transform: none;
}

.home-nav a,
.page-nav p,
.menu-page-nav a {
  margin: 0;
  font-weight: normal;
  font-size: 1.4rem;
}
.title {
  position: absolute;
  top: 10px;
  padding: 0;
  left: 50%;
  transform: translateX(-50%);
}
.title h1 {
  font-family: "Cormorant", serif;
  font-size: 2rem;
  line-height: 0;
  color: var(--main-text-color);
}

#arrow-left {
  animation: bounce2 2s ease infinite;
}
#arrow-right {
  animation: bounce1 2s ease infinite;
  animation-delay: 200ms;
}
@keyframes bounce1 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-30px);
  }
  60% {
    transform: translateX(-15px);
  }
}
@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(30px);
  }
  60% {
    transform: translateX(15px);
  }
}
.menu-page p {
  font-family: "Montserrat", sans-serif;
  color: var(--main-text-color);
  margin: 0;
  padding: 0.5rem 0;
}
.page-nav p {
  padding-right: 5rem;
}
.menu-page-nav a {
  padding: 0 0 0 1rem;
  line-height: 2.5rem;
  transition: letter-spacing 200ms, color 1000ms;
}
.menu-page-nav a:hover {
  /* font-size: 1.6rem; */
  letter-spacing: 0.2rem;
  color: white;
  transition: letter-spacing 200ms, color 200ms;
}
.menu-page-nav {
  padding: 0 0 0 4rem;
}
.kontakt {
  padding: 0 2rem 0 0;
  text-align: right;
}
.some-icon {
  width: 2rem;
  padding: 0.2rem 0 0.5rem 0;
  transition: opacity 300ms;
}
.some-icon:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 300ms;
}
.menu-page-nav,
.kontakt {
  width: 50vw;

  opacity: 0;

  transform: translateY(-800px);
  transition: transform 600ms, opacity 100ms;
}
.kontakt-active,
.menu-page-nav-active {
  opacity: 1;

  transition: opacity 1500ms, transform 800ms;
  transform: translateY(0%);
}

.menu-logo {
  max-width: 80px;
  position: absolute;
  left: 5rem;
  top: 50%;
  transform: translateY(-50%);
}
.menu-page {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: var(--main-bg-color);
  transform: translateY(-100%);
  transition: 300ms;
}
.menu-page-content {
  height: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.menu-page-active {
  transform: translateY(0%);
  transition: 300ms;
}
#menu-close-btn {
  position: absolute;
  right: 6rem;
  top: 0.5rem;
  cursor: pointer;
  font-size: 1.4rem;
  transition: color 300ms;
}

#menu-btn {
  display: inline;
  cursor: pointer;
  transition: color 300ms;
  top: 50%;
}
#menu-btn:hover,
#menu-close-btn:hover {
  color: white;
  transition: color 300ms;
}
header {
  background-color: var(--main-bg-color);
  overflow: hidden;
}
.spacer {
  height: 10vh;
  position: relative;
}
.spacer img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  object-fit: cover;
  height: 30vw;
  opacity: 0.2;
}
.main-header-desktop {
  display: flex;
  position: relative;
}
.main-header-desktop p,
.main-header-desktop a {
  /* display: inline-block; */
  font-family: "Cormorant", serif;
  font-size: 3rem;
  max-width: 600px;
  color: var(--main-text-color);
  transition: color 300ms;
}
.main-header-desktop a:hover {
  color: white;
  transition: color 300ms;
}
.hero-img {
  display: block;
  margin: 0 auto;

  width: 70%;

  object-fit: cover;
  object-position: center;
  border: solid white 10px;
}
.main-header-desktop-left,
.main-header-desktop-right {
  width: 50%;
}
.main-header-desktop-left-link-block {
  display: none;
}
.main-header-desktop-right span {
  font-size: 2rem;
}
.hero-logo {
  padding: 8rem 0 0 3rem;
  max-width: 50%;
}
.hero-logo-mobile {
  display: none;
}
.bloop1,
.bloop2,
.bloop3,
.bloop4,
.bloop5 {
  position: absolute;
}

.bloop1 {
  width: 20%;
  top: 10%;
  left: -5%;
  filter: drop-shadow(3px 5px 5px rgb(0 0 0 / 0.2));
}
.bloop2 {
  width: 20%;
  bottom: -10%;
  left: 30%;
  filter: drop-shadow(3px 5px 5px rgb(0 0 0 / 0.2));
}
.bloop3 {
  width: 25%;
  right: -5%;
  top: 0%;
}
.bloop4 {
  left: 30%;
  bottom: 5%;
  width: 30%;
  opacity: 0.5;
}
.bloop5 {
  width: 15%;

  filter: drop-shadow(3px 5px 5px rgb(0 0 0 / 0.2));
}
.bloop6 {
  display: none;
}
.bloop7{
 position: absolute; 
 right:30%;
 transform: translateX(50%);
 width: 25%;
 top:30vw;

}
.bloop8{
  position: absolute; 
  bottom:2%;
  left:5rem;
  width: 30%;
  opacity: 0.5;

}
.about-section,
.about-me-section {
  position: relative;
  background-color: #fff;
  padding: 5rem 0 2rem 0;
}
.content-section {
  position: relative;
  background-color: #fff;
  padding: 0 0 2rem 0;
}
.about-me-section hr{
  border-color: var(--main-body-color);

}
h3{
  font-family: "Cormorant", serif;
  font-size: 2rem;
  font-weight: bold;

  
  color: var(--main-text-color);

  padding: 0 0 0 4rem;
  margin: 2rem 0 0 0; 
}
.about-section h2,
.about-me-section h2,
.content-section h2,
.article-section h2 {
  font-family: "Cormorant", serif;
  font-size: 4rem;
  background-color: #fff;
  color: var(--main-text-color);
  font-weight: normal;
  padding: 5rem 0 0 5rem;
  margin: 0;
}
.about-section h2 {
  padding: 0 0 0 5rem;
}
.about-me-section h2 {
  padding: 5rem 0 0 15rem;
}
.about-section p,
.about-me-section p,
.content-section p {
  position: inherit;
  max-width: 50%;
  padding: 0 0 5rem 5rem;
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  z-index: 10;
}
.bordered-section{
  position: relative;
  z-index: 2;

}
.bordered-section h3{
 margin:0.5rem;
}
.bordered-section p {
  position: relative;
  max-width: 90%;
  padding: 0 0 2rem 0;
  margin:1rem 5rem;
  /* border-bottom: solid 1px var(--main-body-color); */

  z-index: 0;
}
.about-me-section p {
  padding: 0 0 0 15rem;
  max-width: 35%;
}
.about-me-section hr{
  max-width: 80%;
}
.about-section strong{
  color:var(--main-text-color)
}

.no-max-width {
  max-width: 100%;
}
.about-img {
  position: absolute;
  top: -150px;
  right: 5%;
  width: 30%;
  margin: 3rem 0;
  border: solid white 10px;
  /* filter: drop-shadow(3px 5px 5px rgb(0 0 0 / 0.2)); */
}
.img-wrap {
  float: right;
  margin-left: 100px;
  margin-bottom: 80px;
  width: 30%;
  border: solid var(--main-bg-color) 5px;
  z-index: 30;
}

.about-me-img {
  position: absolute;
  top: 5%;
  right: 10%;
  width: 30%;
  margin: 3rem 0;
  border: solid var(--main-text-color) 3px;
}
.apla {
  position: absolute;
  width: 25%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #faf9f7;
}
.article-section {
  background-color: #fff;
  padding: 0 0 2rem 0;
}
.article {
  display: flex;
  justify-content: center;
}
.article-content {
  width: 70%;
}
.article-img {
  width: 30%;
}

.article-content {
  padding: 0 0 0 10%;
}
.article-content h2 {
  padding: 2rem 0 0 0;
}
.article-content p {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}
.article-img {
  padding: 3rem 0 0 0;
  text-align: center;
}
.article-img img {
  width: 70%;
  object-fit: cover;
  aspect-ratio: 4/5;
  border: solid var(--main-text-color) 3px;
}
.article-content-start {
  transition: max-height 1000ms;
  padding: 0 0 3rem 0;
  max-height: 20vh;
  overflow: hidden;
  position: relative;
}
.article-active {
  transition: max-height 500ms;
  max-height: 300vh;
}
.article-content-end {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  text-align: right;
  color: var(--main-text-color);
  font-weight: bold;
  position: absolute;
  bottom: 0;
  height: 80px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 30;
}
.read-more-btn {
  transition: font-size 300ms;
}
.read-more-btn:hover {
  cursor: pointer;
  font-size: 1.2rem;
  transition: font-size 300ms;
}
.media-section {
  display: flex;
  padding: 2rem 0 0 0;
}
.media-content p {
  padding: 0 0 0 2rem;
}
.media-content a,
.about-me-section a {
  text-decoration: none;
  font-weight: bold;
  color: var(--main-link-color);
  cursor: pointer;
}
.media-img {
  padding: 0 0 0 15rem;
}
.media-img img {
  width: 7rem;
  object-fit: cover;
  aspect-ratio: 1;
  height: 100%;
  border: solid var(--main-text-color) 3px;
}
footer {
  padding: 1rem 0 0 0;
  background-color: var(--main-footer-bg-color);
  text-align: center;
}
.footer-icon {
  padding: 0 0.5rem 0 0;
}
.footer-icon:hover {
  opacity: 0.5;
  cursor: pointer;
}
.warsztaty p {
  max-width: none;
  padding: 0 5rem 0 5rem;
}
.warsztat-section {
  border-left: solid 5px var(--main-text-color);
  margin: 1rem 0 3rem 5rem;
}
.warsztat-section p {
  padding: 0 2rem 0 2rem;
}
.warsztat-section strong {
  color: var(--main-link-color);
}
@media (max-width: 1200px) {
  .main-header-desktop a {
    font-family: "Cormorant", serif;
    font-size: 2rem;
    padding: 0 5rem 0 0;
  }
  nav a {
    font-size: 1.1rem;
  }
}








@media (max-width: 992px) {
  .main-header-desktop a {
    font-size: 1.8rem;
  }
  nav a {
    font-size: 0.8rem;
    padding: 0.6rem;
  }
  .about-section h2{
    max-width: 50%;
  }
  .about-me-section h2{
    padding: 0rem 0 0 5rem;
  }
  .about-me-section p{
    position: relative;
    padding: 0rem 5rem 0 5rem;
    max-width: 45%;
    z-index: 50;
  }
  .about-me-img{
    top:1%;
  }
  .media-img{
    padding: 0 0 0 5rem;
  }
}







@media (max-width: 768px) {
  .main-header-desktop a {
    font-size: 1.5rem;
    padding: 0 2rem 0 0;
  }
  .hero-logo {
    padding: 3rem 0 0 3rem;
  }
  nav a {
    font-size: 0.6rem;
  }
}







@media (max-width: 576px) {
  h3{
    margin:1rem 0 1rem 0;
    font-size: 1.2rem;
    padding: 0 0.5rem 0 0.5rem;
    border-left-width:2px;
  }
  .popup{
    margin:1rem;
    transform: translate(0,-50%);
    left:0;
 
  }
  .main-header-desktop {
    display: block;
  }
  .main-header-desktop-left {
    height: 100svh;
    width: 100%;
  }
  .main-header-desktop-left-link-block {
    display: block;
    position: absolute;
    bottom: 25%;
    max-width: 70%;
  }
  .main-header-desktop-left-link-block a {
    font-size: 1.2rem;
    text-decoration: none;
  }
  .main-header-desktop-left-link-block a:hover {
    color: var(--main-text-color);
  }
  .link-block {
    display: inline-block;
    background-color: #fff;
    padding: 0.5rem 1rem;
    box-shadow: 3px 5px 5px rgb(0 0 0 / 0.2);
    border-right: solid 5px var(--main-body-color);
  }
  .main-header-desktop-right {
    display: none;
  }
  .spacer {
    display: none;
  }
  .hero-img {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .about-img {
    display: none;
  }
  .bloop1 {
    width: 35%;
    /* z-index: 19; */
    top: 20%;
  }
  .bloop2 {
    width: 45%;
    bottom: 2%;
    left: auto;
    right: 2%;
  }
  .bloop6 {
    display: block;
    position: absolute;
    right: -15%;
    width: 45%;
    top: 10%;
  }
  .bloop4 {
    display: none;
  }
  .bloop7{
    z-index: 50;
    right:0;
    top:40vh;
    width: 50%;
    transform: translateX(30%);
  }
  .bloop8{
    left:0.5rem;
    width: 50%;
  }
  .hero-logo-mobile {
    display: block;
    position: fixed;
    transition: width 300ms;
    width: 45%;
    top: 1rem;
    padding: 0 0 0 2rem;
    z-index: 20;
  }
  .home-nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 20;
  }
  #menu-btn {
    padding: 0 1rem 0 0;
  }
  .about-me-section{
padding:0;
  }
  .about-me-section h2{
    font-size: 2rem;
    padding: 0.5rem 2rem 0.5rem 0.5rem ;
    
  }
  #about-me-title{
    border-right: solid 3px var(--main-body-color);
    box-shadow: 3px 3px 5px rgb(0 0 0 / 0.2);
    position: absolute;
    top:5svh;
    z-index: 50;
    font-size: 2.5rem;


  }

  .about-me-section p{
    margin:0;
padding: 2rem 0.5rem 1rem 0.5rem;
/* border-top: solid 1px var(--main-body-color); */
max-width: 100%;
font-size: 1rem;
  }
  .about-me-img{
    width:80%;
    margin:0;
    top:50svh;
    transform: translateY(-60%);
  }
  .about-me-section hr{
border-color: var(--main-body-color);
    margin: 0;
  }
  .media-section{
    padding: 0 0 2rem 0;
  }
  .media-section p{
    padding: 0 0 0.5rem 0.5rem;
  }
  .media-img{
    padding:0;

    margin-left: 0.5rem;
    width: auto;
 
  }
  .media-img img{
    width:5rem;
    height: 5rem;
    border-width: 1px;
  }
  .apla{
    position: relative;
    width: 33%;
    height: calc(100svh - 60px);
  }
  .bloop5{
top:65svh;
right: 5%;
width: 30vw;
z-index: 20;
  }
  .about-section {
    padding: 2rem 0 0 0;
  }
  .about-section h2 {
    padding: 2rem 1rem 0 0.5rem;
    font-size: 2rem;
  }
  .about-section p {
    font-size: 1rem;
    max-width: none;
    padding: 0 0.5rem 2rem 0.5rem;
    margin: 0;
  }
  .content-section {
    padding: 0;
    margin: 0;
    background-color: #fff;
  }
  .content-section h2 {
    padding: 2rem 0 1rem 0.5rem;
    font-size: 2rem;
  }
  .content-section p {
    padding: 0 0.5rem 2rem 0.5rem;
    font-size: 1rem;

    margin: 0;
    max-width: none;
  }
  .warsztat-section{
    margin: 1rem 0 1rem 0.5rem;
    border-width: 2px;

  }
  .img-wrap {
    position: relative;
    float: none;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border: none;
    margin: 0;
    z-index: 50;
  }

  .menu-page-nav {
    padding: 0;
    width: 100%;
  }
  .menu-page-content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .menu-page-content a {
    font-size: 1rem;
    padding: 0;
  }
  .article{
    flex-direction: column-reverse;
  }
  .article-img{
    width:100%;
 padding: 0;
    margin:0;
  }
  .article-img img{
    width: 100%;
    aspect-ratio: 4/2;
    border:none;
  }
  .article-content{
    position: relative;
    padding:0 ;
    width: 100vw;
  }
  .article-content h2{
    border-right: solid 3px var(--main-body-color);
    box-shadow: 3px 3px 5px rgb(0 0 0 / 0.2);
    position: absolute;
transform: translateY(-50%);
    z-index: 50;
    font-size: 2rem;
    padding:0.5rem 1rem 0.5rem 1rem; 
    max-width: 80%;
  }
  .article-content-start p{
    padding: 2rem 0.5rem 0.5rem 0.5rem;
  }
  .article-section{
    
  }
  .article-section h2{


  }
  .kontakt {
    text-align: center;
    width: 100%;
    padding: 2rem 0 0 0;
  }
  .kontakt-logo {
    width: 40%;
  }
  .some-icon {
    padding: 2rem 0 0 0;
  }
  #menu-close-btn {
    right: 1rem;
    /* font-size: 1rem; */
  }
  footer a {
    display: none;
  }
  footer p {
    margin: 0;
  }
  footer {
    padding: 0;
  }
  .menu-logo {
    left: 2rem;
  }
  .page-nav {
    /* height: auto; */
    align-items: center;
  }

  .page-nav h1 {
    display: none;
  }
}
