:root {
  --main-bg-color: #ede4db;
  --main-text-color: #8b7e75;
  --main-body-color: #e3d0c2;
  --main-footer-bg-color: #e5ebe7;
  scroll-behavior: smooth;
}
* {
  /* background-color: rgba(255, 0, 0, 0.103); */
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--main-body-color);
}
.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto 0 auto;
}
.home-nav {
  text-align: right;
  padding: 1rem 5rem 1rem 0;
  background-color: var(--main-bg-color);
}
.page-nav {
  position: relative;
  text-align: right;
  padding: 0 0;
  background-color: var(--main-bg-color);
  margin: 0;
}
.home-nav a,
footer a,
footer p,
.page-nav p,
.menu-page-nav a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem;
  font-family: "Montserrat", sans-serif;
  color: var(--main-text-color);
}

.home-nav a,
.page-nav p,
.menu-page-nav a {
  margin: 0;
  font-weight: normal;
  font-size: 1.4rem;
}

#arrow-left{
  animation: bounce2 2s ease infinite;
}
#arrow-right{
  animation: bounce1 2s ease infinite;
  animation-delay: 200ms;
}
@keyframes bounce1 {
	0%, 20%, 50%, 80%, 100% {transform: translateX(0);}
	40% {transform: translateX(-30px);}
	60% {transform: translateX(-15px);}
}
@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateX(0);}
	40% {transform: translateX(30px);}
	60% {transform: translateX(15px);}
}
.menu-page p {
  font-family: "Montserrat", sans-serif;
  color: var(--main-text-color);
  margin: 0;
  padding: 0.5rem 0;
}
.page-nav p {
  padding-right: 5rem;
}
.menu-page-nav a {
  padding: 0 0 0 1rem;
  line-height: 2.5rem;
  transition: letter-spacing 200ms, color 1000ms;
}
.menu-page-nav a:hover {
  /* font-size: 1.6rem; */
  letter-spacing: 0.2rem;
  color: white;
  transition: letter-spacing 200ms, color 200ms;
}
.menu-page-nav {
  padding: 0 0 0 4rem;
}
.kontakt {
  padding: 0 2rem 0 0;
  text-align: right;
}
.menu-page-nav,
.kontakt {
  width: 50vw;

  opacity: 0;

  transform: translateY(-800px);
  transition: transform 600ms, opacity 100ms;
}
.kontakt-active,
.menu-page-nav-active {
  opacity: 1;

  transition: opacity 2000ms, transform 800ms;
  transform: translateY(0%);
}

.menu-logo {
  max-width: 80px;
  position: absolute;
  left: 5rem;
  top: 50%;
  transform: translateY(-50%);
}
.menu-page {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: var(--main-bg-color);
  transform: translateY(-100%);
  transition: 300ms;
}
.menu-page-content {
  height: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.menu-page-active {
  transform: translateY(0%);
  transition: 300ms;
}
#menu-close-btn {
  position: absolute;
  right: 6rem;
  top: 0.5rem;
  cursor: pointer;
  font-size: 1.4rem;
  transition: color 300ms;
}

#menu-btn {
  cursor: pointer;
  transition: color 300ms;
}
#menu-btn:hover,
#menu-close-btn:hover {
  color: white;
  transition: color 300ms;
}
header {
  background-color: var(--main-bg-color);
  /* overflow: hidden; */
}
.spacer {
  height: 10vh;
  position: relative;
}
.spacer img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  object-fit: cover;
  height: 30vw;
  opacity: 0.2;
}
.main-header-desktop {
  display: flex;
  position: relative;
}
.main-header-desktop p,.main-header-desktop a {
  /* display: inline-block; */
  font-family: "Cormorant", serif;
  font-size: 3rem;
  max-width: 600px;
  color: var(--main-text-color);
  transition: color 300ms;
}
.main-header-desktop a:hover{
  color:white;
  transition: color 300ms;

}
.hero-img {
  display: block;
  margin: 0 auto;

  width: 70%;

  object-fit: cover;
  object-position: center;
  border: solid white 10px;
}
.main-header-desktop-left,
.main-header-desktop-right {
  width: 50%;
}
.hero-logo {
  padding: 8rem 0 0 3rem;
  max-width: 50%;
}
.bloop1,
.bloop2,
.bloop3,
.bloop4,
.bloop5 {
  position: absolute;
}

.bloop1 {
  width: 20%;
  top: 10%;
  left: -5%;
  filter: drop-shadow(3px 5px 5px rgb(0 0 0 / 0.2));
}
.bloop2 {
  width: 20%;
  bottom: -10%;
  left: 30%;
  filter: drop-shadow(3px 5px 5px rgb(0 0 0 / 0.2));
}
.bloop3 {
  width: 25%;
  right: -5%;
  top: 0%;

}
.bloop4 {
  left: 30%;
  bottom: 5%;
  width: 30%;
  opacity: 0.5;
}
.bloop5 {
  width: 15%;
  
 
  filter: drop-shadow(3px 5px 5px rgb(0 0 0 / 0.2));
}
.about-section,
.about-me-section {
  position: relative;
  background-color: #fff;
  padding: 5rem 0 2rem 0;
}
.content-section {
  position: relative;
  background-color: #fff;
  padding: 0 0 2rem 0;
}
.about-section h2,
.about-me-section h2,
.content-section h2,.article-section h2 {
  font-family: "Cormorant", serif;
  font-size: 4rem;
  background-color: #fff;
  color: var(--main-text-color);
  font-weight: normal;
  padding: 5rem 0 0 5rem;
  margin: 0;
}
.about-section h2{
  padding: 0 0 0 5rem;
}
.about-me-section h2 {
  padding: 5rem 0 0 15rem;
}
.about-section p,
.about-me-section p,
.content-section p {
  position: inherit;
  max-width: 50%;
  padding: 0 0 5rem 5rem;
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  z-index: 10;
}
.about-me-section p {
  padding: 0 0 0 15rem;
  max-width: 35%;
}
.no-max-width {
  max-width: 100%;
}
.about-img {
  position: absolute;
  top: -150px;
  right: 5%;
  width: 30%;
  margin: 3rem 0;
  border: solid white 10px;
  /* filter: drop-shadow(3px 5px 5px rgb(0 0 0 / 0.2)); */
}
.img-wrap {
  float: right;
  margin-left: 100px;
  margin-bottom: 80px;
  width: 30%;
  border: solid var(--main-bg-color) 5px;
}
.about-me-img {
  position: absolute;
  top: 5%;
  right: 10%;
  width: 30%;
  margin: 3rem 0;
  border: solid var(--main-text-color) 3px;
}
.apla {
  position: absolute;
  width: 25%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #faf9f7;
}
.article-section{
  background-color: #fff;
 padding:0 0 2rem 0;
 

}
.article{
  display: flex;
  justify-content: center;
}
.article-content{

  width:70%;

}
.article-img{
  width:30%;
}
.article-content{
  padding:0 0 0 10%;
 

}
.article-content h2{
  padding: 2rem 0 0 0;
}
.article-content p{
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}
.article-img{
  padding:3rem 0 0 0;
 text-align: center;
}
.article-img img{
  
width:70%;
object-fit: cover;
aspect-ratio: 4/5;
}
.article-content-start{
  max-height: 30vh;
  overflow: hidden;
  position: relative;
}
.article-content-end{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
text-align: right;
color:var(--main-text-color);
font-weight: bold;
  position: absolute;
  bottom:0;
  height:80px;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%);
  z-index: 30;
}

footer {
  padding: 1rem 0 0 0;
  background-color: var(--main-footer-bg-color);
  height: 100px;
  text-align: center;
}
@media (max-width: 1200px) {
  .main-header-desktop a{
    font-family: "Cormorant", serif;
    font-size: 2rem;
    padding: 0 5rem 0 0;
  }
  nav a {
    font-size: 1.1rem;
  }
}

@media (max-width: 992px) {
  .main-header-desktop a{
    font-size: 1.8rem;
  }
  nav a {
    font-size: 0.8rem;
    padding: 0.6rem;
  }
}

@media (max-width: 768px) {
  .main-header-desktop a{

    font-size: 1.5rem;
    padding: 0 2rem 0 0;
  }
  .hero-logo {
    padding: 3rem 0 0 3rem;
  }
  nav a {
    font-size: 0.6rem;
  }
}


